[submodule "language-tools"]
	path = language-tools
	url = https://github.com/sveltejs/language-tools.git
[submodule "svelte-upstream"]
	path = .svelte-upstream/svelte
	url = https://github.com/sveltejs/svelte.git
	shallow = true
